.button-box {
  position: absolute;
  right: 0;
  left: 6.5%;
  top: 10%;
}

.button {
  border: none;
  outline: none;
  color: #082b17;
  font-size: 1.5rem;
  background-color: #fff;
}

.button:hover {
  cursor: pointer;
}